<nav>
    <div>
        <ul>
            <li><a href="/">Página principal</a></li>
            <li><a href="/">Comidas por región</a></li>
            <li><a href="/">Comidas por tipo</a></li>
            <li><a href="/">Menu saludable</a></li>
            <li><a href="/acerca">Acerca De</a></li>
        </ul>
    </div>
</nav>